# Environment variables for the application
PORT=port

# Supabase configuration
NUXT_PUBLIC_SUPABASE_URL=nuxt-public-supabase-url
NUXT_PUBLIC_SUPABASE_KEY=nuxt-public-supabase-key
SUPABASE_SERVICE_KEY=supabase-service-key

# OpenAI configuration
OPENAI_API_KEY=openai_api_key
